#files {
  margin-top: 15px;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#list {
}

#tiles {
  margin:-1%;
  padding:20px;
}

#total {
  padding-top: 10px;
}

.delete {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.details {
  vertical-align: middle;
  word-wrap: break-word;
  padding-top: 40px;
}

.file-label {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 700;
  color: #31708f;
  padding: 15px;
  border: 1px solid #bce8f1;
  border-radius: 5px;
  background-color: #d9edf7;
}

.header {
  text-align: center;
  border-bottom: 1px solid grey;
}

.list {
  margin: auto
}

.tile {
  border: .7px solid grey;
  text-align: center;
  float: left;
  height: 16vw;
  margin: 1%;
  width: 22%;
}

